:root {
  --twitch-purple: #4b367c;
  --twitch-purple-transparent: rgba(75, 54, 124, 0.8);
}

body {
  background-color: black;
  font-family: arial;
}

.banner {
  font-size: 5em;
  text-align: center;
  background-color: var(--twitch-purple);
  margin: 0;
  padding: 10px;
  font-family: 'Saira Stencil One', cursive;
}

a {
  color: lavender;
}
/* MEDIA-------------------------------------------------------*/

.video {
  clear: both;
  border: 3px solid var(--twitch-purple-transparent);
  border-radius: 10px;
}

.chat {
  float: right;
  margin-right: 10px;
  border-radius: 10px;
  border: 3px solid var(--twitch-purple-transparent);
}

.video-page {
  clear: both;
  width: 1100px;
  height: 750px;
  border: 3px solid var(--twitch-purple-transparent);
  border-radius: 10px;
}

.chat-page {
  float: right;
  height: 750px;
  width: 315px;
  margin-right: 10px;
  border-radius: 10px;
  border: 3px solid var(--twitch-purple-transparent);
}

/* SOCIAL MEDIA WIDGET--------------------------------------------*/
.social-media {
  display: block;

  background: var(--twitch-purple);
  height: auto;
  width: 300px;
  /* border: 1px solid gold; */
  margin-left: 10px;
  margin-right: 5px;
  float: left;
  border-radius: 10px;
}

.twitter-timeline{
  margin-left: 37.5px;
}

#profile-widget {
  width: 200px;
  height: 200px;
  margin-left: 50px;
  border-radius: 50%;
  border: 2px dotted white;
  margin-bottom: 30px;
}

/* ABOUT PAGE-------------------------------------------------*/
.about-box {
  display: block;
  background: var(--twitch-purple);
  height: auto;
  width: 75%;
  margin-left: 13%;
  /* border: 1px solid gold; */
  float: left;
  border-radius: 10px;
  text-align: center;

}
.about {
  padding-left: 10px;
  font-size: 3em;
  font-family: 'Saira Stencil One', cursive;
}

#profile {
  width: 300px;
  height: 300px;
  text-align: center;
  border-radius: 50%;
  border: 2px dotted white;
  margin-bottom: 30px;
}

p {
  padding: 10px;
  font-size: 25px;
}

/* NAV--------------------------------------------------------- */
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  margin-bottom: 30px;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  text-align: center;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: #111;
}

.contact{
  float: right;
}
