:root {
  --twitch-purple: #4b367c;
  --twitch-purple-transparent: rgba(75, 54, 124, 0.8);
  --background-black: rgb(25,23,28);
}

body {
  background-color: var(--background-black);
  font-family: arial;
}

.banner {
  font-size: 10em;
  letter-spacing: 30px;
  text-align: center;
  /* background-color: var(--twitch-purple); */
  margin: 0;
  padding: 10px;
  font-family: 'Saira Stencil One', cursive;
  color: lavender;
  text-shadow:

             0px 0px 0 rgb(137,156,213),
             1px 1px 0 rgb(129,148,205),
             2px 2px 0 var(--twitch-purple),
             3px 3px 0 rgb(111,130,187),
             4px 4px 0 rgb(103,122,179),
             5px 5px 0 rgb(94,113,170),
             6px 6px 0 rgb(85,104,161),
             7px 7px 0 rgb(76,95,152),
             8px 8px 0 rgb(68,87,144),
             9px 9px 0 rgb(59,78,135),
             10px 10px 0 rgb(50,69,126),
             11px 11px 0 rgb(42,61,118),
             12px 12px 0 rgb(33,52,109),
             13px 13px 0 rgb(24,43,100),
             14px 14px 0 rgb(15,34,91),
             15px 15px 0 rgb(7,26,83),
             16px 16px 0 rgb(-2,17,74),
             17px 17px 0 rgb(-11,8,65),
             18px 18px 0 rgb(-19,0,57),
             19px 19px 0 rgb(-28,-9,48),
             20px 20px 0 rgb(-37,-18,39),
             21px 21px 20px rgba(0,0,0,1),
             21px 21px 1px rgba(0,0,0,0.5),
             0px 0px 20px rgba(0,0,0,.2);
  background-image: url('./images/static.png');
  /* opacity: 0.8; */
  /* top bracket of header */
  border-width: 10px;
  border-style: solid;
  border-image:
    linear-gradient(
      to bottom,
      var(--twitch-purple),
      rgba(0, 0, 0, 0)
    ) 20 10%;
}

a {
  color: lavender;
}


/* MEDIA-------------------------------------------------------*/
.video {
  clear: both;
  border: 3px solid var(--twitch-purple-transparent);
  border-radius: 10px;
}

.chat {
  float: right;
  margin-right: 10px;
  border-radius: 10px;
  border: 3px solid var(--twitch-purple-transparent);
}

.video-page {
  clear: both;
  width: 1100px;
  height: 750px;
  border: 3px solid var(--twitch-purple-transparent);
  border-radius: 10px;
}

.chat-page {
  float: right;
  height: 750px;
  width: 315px;
  margin-right: 10px;
  border-radius: 10px;
  border: 3px solid var(--twitch-purple-transparent);
}


/* SOCIAL MEDIA WIDGET--------------------------------------------*/
.social-media {
  display: block;
  color: lavender;
  background: var(--twitch-purple);
  height: auto;
  width: 300px;
  /* border: 1px solid gold; */
  margin-left: 10px;
  margin-right: 5px;
  float: left;
  border-radius: 10px;
  text-shadow:
             0px 0px 0 rgb(137,156,213),
             0px 1px 0 rgb(129,148,205),
             1px 2px 0 var(--twitch-purple),
             2px 3px 0 rgb(111,130,187),
             3px 4px 0 rgb(103,122,179),
             4px 5px 0 rgb(94,113,170),
             5px 21px 20px rgba(0,0,0,1),
             0px 0px 20px rgba(0,0,0,.2);
}

.icons {
  display: block;
  text-align: center;
  margin-bottom: 8px;
  margin-top: 1%;
}
.insta {
  width: 50px;
  height: 50px;
  padding: 2%;
}

.fb {
  width: 60px;
  height: 50px;
  border-radius: 10px;
  padding: 2%;
}

.snap {
  width: 58px;
  height: 50px;
  padding: 2%;

}


/* ABOUT PAGE-------------------------------------------------*/
.about-box {
  display: block;
  background: var(--twitch-purple);
  height: auto;
  width: 75%;
  margin-left: 13%;
  /* border: 1px solid gold; */
  float: left;
  border-radius: 10px;
  text-align: center;
  color: lavender;
}
.about, .social {
  padding-left: 10px;
  font-size: 3em;
  font-family: 'Saira Stencil One', cursive;
  margin-bottom: 6%;
}

#profile {
  width: 300px;
  height: 300px;
  text-align: center;
  border-radius: 50%;
  border: 2px dotted white;
  margin-bottom: 30px;
}

p {
  padding: 10px;
  font-size: 25px;
}


/* NAV--------------------------------------------------------- */
ul {
  border-top: 1px solid var(--twitch-purple-transparent);
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  margin-bottom: 30px;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  text-align: center;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: #111;
}

.contact{
  float: right;
}
